#calculator > div {
    /*border: 1px solid black;*/
}

span {
    border: 1px solid red;
}

#calculator {
    width : 17rem;
    margin: auto;

    outline: 2px solid black;

    display: flex;
    flex-direction: column;
}

#window {
    height: 4rem;

    outline: 2px solid black;

    margin : 0 0 7px 0;
    padding: 10px;
    text-align: right;
    font-size: 50px;
    font-weight: 500;
}

.calRow {
    height: 3rem;
    margin: 0 0 7px 0;
    display: flex;
}

.calBtn {
    width : 1rem;

    margin: 0 2px;
    flex-grow: 1;

    font-size: 20px;
}